body, p, h1, h2{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

html {
    background: url('https://source.unsplash.com/random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2{
    padding: 5px;
}

.center{
    margin: auto;
    text-align: center;
}

.header {
    background-color: #fff;
    border-bottom: solid 1px #ccc;
}

.messages{
}

.messages ul{
    padding: 0px;
    margin:0;
    border-right: solid 1px #aaa;
}

.messages li{
    list-style-type: none;
    padding: 4px;
    background-color: #fff;
}

.messages li a{
    position: relative;
    display:inline-block;
    width:inherit;
}

.channels li{
    display: inline-block;
    border: solid 1px #ddd;
    padding: 3px;
    margin: 2px;
    background-color: #fff;
}

a{
    color: #00a;
    text-decoration: none;
}

pre{
    border: solid 2px #bbb;
    padding: 15px;
    margin: 15px;
    background-color: #ddd;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.main{
    overflow: auto;
    /*background-color: #fff;*/
}

.transparent{
    opacity: 0.9;
    filter: alpha(opacity=90);
}

li.description{
    text-align: center;
    color: #555;
    background-color: #eee;
}

.header{
}

.member{
    font-weight: bold;
}

.emoji{
    width:16px;
    height:16px;
    vertical-align:middle;
}

.date{
    color: #aaa;
    font-family: sans-serif;
    font-size: 10px;
}

.invite{
    text-align: center;
    padding: 15px;
    margin: 50px;

}

.private{
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px;
    line-height: 15px;
}

.channels{
    padding: 15px;
    margin: 50px;
    background-color: #eee;
}

.channels h3{
    margin-top:0;
}

.signup-button{
    border: 0;
    vertical-align: top;
    margin-left: 5px;
    border-bottom: 2px solid #194ba3;
    height: 58px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 1px 1px #555;
    background-color: #aaa;
}

.inputs{
    width: 300px;
    height: 48px;
    font-size: 2rem;
    text-align: center;
}

.rounded{
    border: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    padding: 5px 15px;
}

.signup_controls{
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    border-bottom: solid 1px #eee;
}

.signup_controls span{
    text-align: center;
    display: block;
}

.signup_controls input{
    background-color: #eee;
}

.rounded-lite{
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}


.float-right{
    float: right;
    font-size: 14px;
}

.hidden{
    display: none;
}

.successbox{
    display: inline-block;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    border: solid #ccc 1px;
    color: #555;
    padding: 15px;
    font-size: 20px;
}

.successbox ul{
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.successbox li{
    padding: 5px;
    background-color: #eee;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
}

.center div div{
    margin: auto;
    padding: 10px;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.bigitem {
    /* This will be twice as big as the small item. */
    -ms-flex: 2 0 0;
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    max-width:70%;
}
.smallitem {
    -ms-flex: 1 0 0;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}