// Base Elements
//
html {
    // background: url('https://source.unsplash.com/random') no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

a{
    color: #00a;
    text-decoration: none;
}

pre{
    border: solid 2px #bbb;
    padding: 15px;
    margin: 15px;
    background-color: #ddd;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

// Classes
//
.careers{
    ul.devs, ul.dev, ul.jobs, ul.job {
        list-style-type: none;
        padding: 0;
    }

    ul.dev{
        li.fullname{
            padding-left: 0;

            &::before{
                content: "\25BC \0020 {";
            }
        }

        li{
            padding-left: 27px;
        }

        li.links::after{
            content: '}';
        }
    }
    
    span.value {
        color: #777;
    } 

    span.value:after {
        content: ",";
        color: #000;
    }

    span.value.last{
        content: 'ninja';
    }

    .links span.value{
        color: #000;
    }

    .links a:last-child::after {
        content: '';
    }

    .links a::after {
        content: ',';
    }

    .see_all{
        font-size: 15px;
    }
}

.center{
    text-align: center;
}

.header {
    border-bottom: solid 1px #ccc;
    overflow: auto;
    background-color: #337ab7;
    
    h1{
        margin:0;
        padding: 5px;
    }    

    li.login-status {
        margin: 0 10px 0 25px;
    }    

    li.parrot{
        padding: 0 5px;
    
        img{
            height: 32px;
        }
    }
}

.messages{
    ul, p{
        padding: 0px;
        margin:0;
    }

    li{
        list-style-type: none;
        padding: 4px;
        background-color: #fff;

        a{
            position: relative;
            display:inline-block;
            width:inherit;
        }
    }

    li:nth-child(even) {background: #eee;}
}

.main{
    overflow: auto;
    /*background-color: #fff;*/
}

.transparent{
    opacity: 0.9;
    filter: alpha(opacity=90);
}

li.description{
    text-align: center;
    color: #555;
    background-color: #ddd;
}

.flash_area{
    p{
        padding: 5px;
        margin: 0;
        text-align: center;
    }
}

.page-title{
    color: #fff;
    font-variant: small-caps;

    &:hover{
        color:#fff;
        text-decoration: none;
    }
}

.member{
    font-weight: bold;
}

.emoji{
    width:16px;
    height:16px;
    vertical-align:middle;
}

.date{
    color: #aaa;
    font-family: sans-serif;
    font-size: 10px;
}

.invite{
    text-align: center;
    padding: 15px;
    margin: 50px;

}

.private{
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px;
    line-height: 15px;
}

.channels{
    padding: 15px;
    margin: 50px;
    background-color: #eee;

    h3{
        margin-top:0;
    }

    ul{
        text-align: justify;

        li{
            display: inline-block;
            padding: 0px;
            margin: 1px;
        }
    }
}


.signup-button{
    border: 0;
    vertical-align: top;
    margin-top: 5px;
    border-bottom: 2px solid #194ba3;
    height: 58px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 1px 1px #555;
    background-color: #aaa;
}

.rounded{
    border: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    padding: 5px 15px;
}

.rounded-lite{
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.hidden{
    display: none;
}

.successbox{
    display: inline-block;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    border: solid #ccc 1px;
    color: #555;
    padding: 15px;
    font-size: 20px;
}

.successbox ul{
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.successbox li{
    padding: 5px;
    background-color: #eee;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
}

.nav{
    ul{
        list-style-type: none;
        
        li{
            display: inline-block;

            a{
                text-decoration: none;
                display: block;
            }
        }
    }
}