body, p, h1, h2, ul{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

h1, h2{
    padding: 5px;
}

li{
    list-style-type: none;
    padding: 4px;
    background-color: #eee;
    margin: 2px;
}

.header{
    background-color: #eee;
}

.member{
    font-weight: bold;
}

.messages{
    width: 75%;
    margin: auto;
}

.date{
    color: #aaa;
    font-family: sans-serif;
    font-size: 10px;
}

.invite{
    text-align: center;
    padding: 15px;
    margin: 5px;
    background-color: #eee;
}

.signup-button{
    border: 0;
    vertical-align: top;
    margin-left: 5px;
    border-bottom: 2px solid #194ba3;
    height: 48px;
    margin-top: 6px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 1px 1px #555;
}

.inputs{
    width: 300px;
    height: 48px;
    font-size: 2rem;
}

.rounded{
    border: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    padding: 5px;
}