body, p, h1, h2{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

html {
    background: url('/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2{
    padding: 5px;
}

ul{
    padding: 5px;
    background-color: #bbb;
}

li{
    list-style-type: none;
    padding: 4px;
    background-color: #eee;
    margin: 2px;
}

a{
    color: #555;
    text-decoration: none;
}

pre{
    border: solid 2px #bbb;
    padding: 15px;
    margin: 15px;
    background-color: #ddd;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.transparent{
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.header{
    background-color: #eee;
}

.member{
    font-weight: bold;
}

.messages{
    width: 75%;
    margin: auto;
}

.emoji{
    width:16px;
    height:16px;
    vertical-align:middle;
}

.date{
    color: #aaa;
    font-family: sans-serif;
    font-size: 10px;
}

.invite{
    text-align: center;
    padding: 15px;
    margin: 50px;
    background-color: #eee;
}

.signup-button{
    border: 0;
    vertical-align: top;
    margin-left: 5px;
    border-bottom: 2px solid #194ba3;
    height: 58px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 1px 1px #555;
}

.inputs{
    width: 300px;
    height: 48px;
    font-size: 2rem;
    text-align: center;
}

.rounded{
    border: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    padding: 5px 15px;
}

.rounded-lite{
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}


.float-right{
    float: right;
    font-size: 14px;
}